version: 2
jobs:
  build:
    docker: 
      - image: python:3.6
    steps:
      - checkout
      - run: pip install mlrun
      - run: mlrun run --handler my_func --param-file params.csv --dump myfunc.py
